node_modules
.next
.git
.gitignore
.github
.vscode
.idea
.dockerignore
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.dev.yml
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
*.tsbuildinfo
README.md
public/uploads
